.card {
  background-color: #161623;
  border-radius: 20px;
  padding: 20px;
  width: 30%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  word-wrap: break-word; /* Add this line */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  border: solid 4px #7EB2E1;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
    height: auto;
    margin-bottom: 40px;
  }

  .card img {
    height: 150px;
  }
}