.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container .cards {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}