.banner {
    background-color: #161623;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 20px;
}

.banner img {
    border-radius: 40px;
}

@media (max-width: 768px) {
    .banner img {
        height: 300px;
    }
}

.banner:hover{
    border: solid 4px #7EB2E1;
}